
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <footer th:fragment="footer" class="footer">
            <div class="logo__footer">
                <a
                    href="#"
                    title="Logo"
                    class="logo"
                    >
                    <img class="logo" height="40" width="40" src="/assets/logo.png" alt="Boolean Kitchen">
                    </a>
                <a href="#" class="page__title">
                    Boolean Kitchen
                </a>
            </div>
            <p>@2024 Todos los derechos reservados</p>
        </footer>
    </body>
</html>
