.card__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  width: 10%;
}
.dropdown:hover {
  background-color: hsl(225, 30%, 12%);
  cursor: pointer;
}


.dropdown:hover > .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 25px;
  background-color: #202124;
  display: none;
}

.dropdown-menu button {
  padding: 12px 24px;
}

.dropdown-menu button:hover {
  background-color: hsl(225, 6%, 20%);
  cursor: pointer;
}


/*Fin*/


.comment-section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 60px auto;
}

.comment-section form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}



.container-item-form{
    margin-right: 6px;
    margin-left: 6px;
}

.comments-container {
    width: 100%;
    max-height: calc(100vh - 400px);
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.comment-section label {
    font-weight: bold;
}

.comment-section input[type="text"],
.comment-section input[type="number"],
.comment-section select,
.comment-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.comment-section button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.container-comment-order{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    border-left: 5px solid #007bff;
    
    
    display: flex;
    flex-direction: column;
    position: relative;

    width: auto;
    margin: 15px 15px 15px 0;
}

.comment h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.comment p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.comment .metadata {
    color: #777;
    font-size: 14px;
}

.comment .metadata span {
    font-weight: bold;
}

.comment .options {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.comment:hover .options {
    display: flex;
}

.comment .options span {
    cursor: pointer;
    color: #007bff;
    margin-right: 5px;
}

.comment .options span:hover {
    text-decoration: underline;
}

.reactions {
    margin-top: 10px;
    color: #888;
    font-size: 16px;
}

.reactions span {
    margin-right: 10px;
    cursor: pointer;
}

.reactions span:hover {
    color: #007bff;
}

.options {
    background-color: red;
}

/*Likes*/
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #666;
}

.container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #666;
}

.container svg:hover {
    transform: scale(1.1) rotate(-10deg);
}

.container input:checked~svg {
    fill: #2196F3;
}

#numero-likes {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
}


/*Enviar*/
#enviar {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

#enviar span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#enviar svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#enviar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#enviar:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#enviar:hover span {
    transform: translateX(5em);
}

#enviar:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/*Estrellas*/
.rating {
    display: inline-block;
}

.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating:not(:checked)>label:before {
    content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.rating>input:checked~label {
    color: #ffa723;
}



.container-btn-newComment{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nuevoComentario{

    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;


}

#nuevoComentario:hover{
    opacity: .9;
}

#nuevoComentario:active{
    transform: scale(0.95);
}



/*  */
#commentForm,
#commentFormModify {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    max-width: 600px;
    background-color: #eece92;
    padding: 20px;
    border: 1px solid royalblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
}

.container-items-form {
    display: flex;
    flex-wrap: wrap;
}

.container-item-form {
    width: 100%;
    margin-bottom: 15px;
}

.container-item-form label {
    font-weight: bold;
}

.container-item-form input[type="text"],
.container-item-form input[type="number"],
.container-item-form select,
.container-item-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}
