<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Comentarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/stComentarios.css}">
    </head>
    <body>
        <div class="comment-section">

            <form id="commentForm" method="get">
                <input type="hidden" name="identificadorReceta" th:value="${receta.identificador}">
                <h2>Deja un comentario</h2>
                <div class="container-items-form" style="display: flex; flex-wrap: wrap;">
                    <div class="container-item-form" style="width: 250px;">
                        <label for="puntuation">Califica la receta: <span style="color: red;">*</span></label><br>
                        <div>
                            <div class="rating">
                                <input value="5" name="rate" id="star5" type="radio">
                                <label title="text" for="star5"></label>
                                <input value="4" name="rate" id="star4" type="radio">
                                <label title="text" for="star4"></label>
                                <input value="3" name="rate" id="star3" type="radio">
                                <label title="text" for="star3"></label>
                                <input value="2" name="rate" id="star2" type="radio">
                                <label title="text" for="star2"></label>
                                <input value="1" name="rate" id="star1" type="radio" checked="">
                                <label title="text" for="star1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="commentTitle">Título:<span style="color: red;">*</span></label><br>
                        <input type="text" id="commentTitle" name="commentTitle" required><br>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="commentContent">Comentario: <span style="color: red;">*</span></label><br>
                        <textarea id="commentContent" name="commentContent" value='Hola' rows="4"></textarea><br>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="difficult">Dificultad: <span style="color: red;">*</span></label><br>
                        <select name="difficult-select" id="dificultad">
                            <option value="Fácil">Fácil</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Difícil">Difícil</option>
                        </select><br>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="clarity_instructions">Claridad de instrucciones: <span
                                style="color: red;">*</span></label><br>
                        <input type="number" id="clarity_instructions" min="1" max="10" required oninput="validarNumero(event)" value="1"><br>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="modification">Realizó alguna modificación a la receta? <span
                                style="color: red;">*</span></label>
                        <div>
                            <input type="radio" name="modification" id="modification-yes" checked="true">
                            <label for="modification-yes">Sí</label>
                            <input type="radio" name="modification" id="modification-no">
                            <label for="modification-no">No</label>
                        </div><br>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="suggestion">Sugerencias:</label><br>
                        <input type="text" id="suggestion"><br>
                    </div>
                    <div class="container-item-form" style="width: 250px;">
                        <label for="recommendation">Recomendaría la receta? <span style="color: red;">*</span></label>
                        <div>
                            <input type="radio" name="recommendation" id="recommendation-yes" checked="">
                            <label for="recommendation-yes">Sí</label>
                            <input type="radio" name="recommendation" id="recommendation-no">
                            <label for="recommendation-no">No</label>
                        </div><br>
                    </div>
                </div>


                <button id="enviar" onclick="enviarComentario(event)">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor"
                                  d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                            </path>
                            </svg>
                        </div>
                    </div>
                    <span>Enviar</span>
                </button>
            </form>

            <div class="comments-container" id="comments">
                <div th:if="${comentarios != null and !comentarios.empty}">
                    <div class="comment" th:each="comentario : ${comentarios}">
                        <p><span>Daniel Briones</span> - <span th:text="${comentario.antiguedad}"></span></p>
                        <div class="dropdown">
                            <div class="card__menu"><svg xmlns="http://www.w3.org/2000/svg" width="4" viewBox="0 0 4 20" height="20" fill="none"><g fill="#000"><path d="m2 4c1.10457 0 2-.89543 2-2s-.89543-2-2-2-2 .89543-2 2 .89543 2 2 2z"></path><path d="m2 12c1.10457 0 2-.8954 2-2 0-1.10457-.89543-2-2-2s-2 .89543-2 2c0 1.1046.89543 2 2 2z"></path><path d="m2 20c1.10457 0 2-.8954 2-2s-.89543-2-2-2-2 .8954-2 2 .89543 2 2 2z"></path></g></svg></div>
                            <div class="dropdown-menu">
                                <input type="hidden" id="idCategoria" name="idCategoria" th:value="${comentario.identificador}">
                                <button onclick="editComment(this)">Editar</button>
                                <button onclick="deleteComment(this)">Eliminar</button>
                            </div>
                        </div>
                        <h2 th:text="${comentario.title}"></h2>
                        <h4 th:text="${comentario.comment}"></h4>
                        <p th:text=" 'Dificultad: ' + ${comentario.dificultad}"></p>
                        <p th:text=" 'Claridad de instrucciones: ' + ${comentario.claridadInstrucciones}"></p>
                        <p th:text=" 'Realizo alguna modificación: ' + ${comentario.realizoUnaModificacion ? 'Si' : 'No'}"></p>
                        <p th:text=" 'Sugerencias: ' + ${comentario.sugerencia != '' ? comentario.sugerencia : 'Sin sugerencias'}"></p>
                        <p th:text=" 'Recomendaría la receta: ' + ${comentario.recomendariaLaReceta ? 'Si' : 'No'}"></p>
                        <div class="reactions">
                            <label class="container">
                                <input class="like" id="like" type="checkbox" onchange="like_dislike(this)">
                                <svg id="Glyph" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M29.845,17.099l-2.489,8.725C26.989,27.105,25.804,28,24.473,28H11c-0.553,0-1-0.448-1-1V13  c0-0.215,0.069-0.425,0.198-0.597l5.392-7.24C16.188,4.414,17.05,4,17.974,4C19.643,4,21,5.357,21,7.026V12h5.002  c1.265,0,2.427,0.579,3.188,1.589C29.954,14.601,30.192,15.88,29.845,17.099z" id="XMLID_254_"></path><path d="M7,12H3c-0.553,0-1,0.448-1,1v14c0,0.552,0.447,1,1,1h4c0.553,0,1-0.448,1-1V13C8,12.448,7.553,12,7,12z   M5,25.5c-0.828,0-1.5-0.672-1.5-1.5c0-0.828,0.672-1.5,1.5-1.5c0.828,0,1.5,0.672,1.5,1.5C6.5,24.828,5.828,25.5,5,25.5z" id="XMLID_256_"></path></svg>
                                <span id="numero-likes" th:text="${comentario.reaccionesPositivas}"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script text="text/javascript" th:src="@{/js/jsComentarios.js}"></script>
    </body>
</html>
