<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1>Modulo lista de Compras</h1>
        <p>el modulo de compras agrega informacion hacer de compras futuras por el usuario</p>
        <div>acontinuacion se presenta un enlace para poder acceder al panel del control</div>
        <br>
        <a href="./paneShoplist">Ir a panel de administracion CRUD</a>
    </body>
</html>
