<form th:action="@{/shoplist/panel}" method="post" class="formCreate">
    <input type="text" name="name" id="name" placeholder="Nombre del producto" autocomplete="name">
    <input type="number" name="amount" id="amount" placeholder="Cantidad de producto">
    <textarea name="notes" id="notes" placeholder="notas"></textarea>
    <input type="text" name="brand" id="brand" placeholder="marca">
    <input type="checkbox" name="state" id="state" checked="true" title="ESTADO">
    <input type="date" name="date" id="" placeholder="fecha">
    <input type="submit" value="Guardar Compra">
</form>