<form th:action="@{/insertShoplist}" method="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="container-elements">
                        <div class="inputs-modal">
                            <div class="inputs-items">
                                <div class="wave-group">
                                    <input required="" type="text" name="name" class="input">
                                    <span class="bar"></span>
                                    <label class="label">
                                        <span class="label-char" style="--index: 0">N</span>
                                        <span class="label-char" style="--index: 1">o</span>
                                        <span class="label-char" style="--index: 2">m</span>
                                        <span class="label-char" style="--index: 3">b</span>
                                        <span class="label-char" style="--index: 4">r</span>
                                        <span class="label-char" style="--index: 5">e</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container-elements">
                        <div class="inputs-modal">
                            <div class="inputs-items">
                                <div class="wave-group">
                                    <input required="" type="text" name="amount" class="input">
                                    <span class="bar"></span>
                                    <label class="label">
                                        <span class="label-char" style="--index: 0">C</span>
                                        <span class="label-char" style="--index: 1">a</span>
                                        <span class="label-char" style="--index: 2">n</span>
                                        <span class="label-char" style="--index: 3">t</span>
                                        <span class="label-char" style="--index: 4">i</span>
                                        <span class="label-char" style="--index: 5">d</span>
                                        <span class="label-char" style="--index: 5">a</span>
                                        <span class="label-char" style="--index: 5">d</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-elements">
                        <div class="inputs-modal">
                            <div class="inputs-items">
                                <div class="wave-group">
                                    <input required="" type="text" name="notes" class="input">
                                    <span class="bar"></span>
                                    <label class="label">
                                        <span class="label-char" style="--index: 0">N</span>
                                        <span class="label-char" style="--index: 1">o</span>
                                        <span class="label-char" style="--index: 2">t</span>
                                        <span class="label-char" style="--index: 3">a</span>
                                        <span class="label-char" style="--index: 4">s</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-elements">
                        <div class="inputs-modal">
                            <div class="inputs-items">
                                <div class="wave-group">
                                    <input required="" type="text" name="brand" class="input">
                                    <span class="bar"></span>
                                    <label class="label">
                                        <span class="label-char" style="--index: 0">M</span>
                                        <span class="label-char" style="--index: 1">a</span>
                                        <span class="label-char" style="--index: 2">r</span>
                                        <span class="label-char" style="--index: 3">c</span>
                                        <span class="label-char" style="--index: 4">a</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-elements">
                        <div class="inputs-modal">
                            <div class="inputs-items">
                                <div class="wave-group">
                                    <label>Estado</label>
                                    <input required="" type="checkbox" name="state" class="input">
                                </div>
                            </div>
                        </div>
                </td>
                <td>
                    <div class="container-elements">
                        <div class="inputs-modal">
                            <div class="inputs-items">
                                <div class="wave-group">
                                    <input required="" type="text" class="input">
                                    <span class="bar"></span>
                                    <label class="label">
                                        <span class="label-char" style="--index: 0">I</span>
                                        <span class="label-char" style="--index: 1">D</span>
                                        <span class="label-char" style="--index: 2">u</span>
                                        <span class="label-char" style="--index: 3">s</span>
                                        <span class="label-char" style="--index: 4">u</span>
                                        <span class="label-char" style="--index: 5">a</span>
                                        <span class="label-char" style="--index: 5">r</span>
                                        <span class="label-char" style="--index: 5">i</span>
                                        <span class="label-char" style="--index: 5">o</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                </td>
                <td>
                    <button type="submit" style="color: green;">Guardar Mi Compra</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>