<input type="hidden" name="id" id="id" >
<input type="text" name="name" id="name" placeholder="Nombre del producto" autocomplete="name" required="true">
<input type="number" name="amount" id="amount" placeholder="Cantidad de producto" required="true">
<textarea name="notes" id="notes" placeholder="notas" required="true"></textarea>
<input type="text" name="brand" id="brand" placeholder="marca" required="true">
<input type="checkbox" name="state" id="state" checked="true" title="ESTADO" required="true">
<input type="date" name="date" id="date" placeholder="fecha" required="true">
<input type="button" id="update" value="Actualizar" onclick="updateShoplist()"/>